.centered {
    text-align: center;
}

.title {
    font-size: 1.5em;
    font-family: Roboto, serif;
}

.padded {
    padding: 20px;
}


@media (prefers-color-scheme: dark) {
    body {
        color: #c8c8c8ff;
        background: #232323ff;
    }

    a {
        color: #c8c8c8ff;
    }
}